
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Yönetim Paneli</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Sayfa Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.PageCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Hizmet Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.ServiceCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Haber Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.NewsCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Ürün Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.ProductCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Galeri Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.GalleryCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Çözüm Ortağı Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.PartnerCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Referans Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.ReferenceCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Katalog Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.CatalogCount</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Toplam Ekip Sayısı</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.TeamCount</h1>
                </div>
            </div>
        </div>
    </div>
</div>

