@model CoreCorporate.Areas.AdminPanel.Models.User.UserRegisterViewModel
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Yönetim Paneli</title>

    <link href="~/admintheme/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admintheme/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/admintheme/css/animate.css" rel="stylesheet">
    <link href="~/admintheme/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h3>Yönetim Paneli - Kayıt Ol</h3>
            </div>
            <form class="m-t" role="form" method="post" asp-action="Register">
                <div class="form-group">
                    <input type="text" asp-for="@Model.NameSurname" class="form-control" placeholder="Ad Soyad">
                    <span asp-validation-for="@Model.NameSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="email" asp-for="@Model.Mail" class="form-control" placeholder="E-Posta">
                    <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="@Model.Username" class="form-control" placeholder="Kullanıcı Adı">
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Parola">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Parola Tekrar">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Kayıt Ol</button>

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <p class="text-muted text-center"><small>Zaten hesabınız var mı?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="~/AdminPanel/User/Login">Giriş Yap</a>
            </form>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/admintheme/js/jquery-3.1.1.min.js"></script>
    <script src="~/admintheme/js/popper.min.js"></script>
    <script src="~/admintheme/js/bootstrap.js"></script>

</body>

</html>
