@using EntityLayer.Concrete
@model List<ServiceCategory>
@{
    ViewData["Title"] = "ServiceCategoryList";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tüm Hizmet Kategorileri</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <a href="~/AdminPanel/ServiceCategory/ServiceCategoryAdd" class="btn btn-primary btn-sm">Yeni Hizmet Kategorisi Ekle</a>
                </div>
                <div class="ibox-content">
                    @if (Model.Count <= 0)
                    {
                        <h2 class="text-center">Henüz hizmet kategorisi eklenmemiştir!</h2>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Hizmet Kategori Adı</th>
                                    <th>Hizmet Kategori Url</th>
                                    <th>Hizmet Kategori Durumu</th>
                                    <th>Hizmet Kategori Son Düzenleme</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ServiceCategoryID</td>
                                        <td>@item.ServiceCategoryTitle</td>
                                        <td>@item.ServiceCategoryUrl</td>
                                        <td>@Html.Raw(item.ServiceCategoryStatus == true ? "<span class='badge badge-success'>Yayında</span>" : "<span class='badge badge-danger'>Yayında Değil</span>")</td>
                                        <td>@(((DateTime)item.ServiceCategoryUpdatedDate).ToString("dd.MM.yyyy"))</td>
                                        <td> <a href="~/AdminPanel/ServiceCategory/ServiceCategoryUpdate/@item.ServiceCategoryID" class="btn btn-w-m btn-primary">Düzenle</a> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>