@using EntityLayer.Concrete
@model List<Partner>
@{
    ViewData["Title"] = "PartnerList";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tüm Çözüm Ortakları</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <a href="~/AdminPanel/Partner/PartnerAdd" class="btn btn-primary btn-sm">Yeni Çözüm Ortağı Ekle</a>
                </div>
                <div class="ibox-content">
                    @if (Model.Count <= 0)
                    {
                        <h2 class="text-center">Henüz çözüm ortağı eklenmemiştir!</h2>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Çözüm Ortak Adı</th>
                                    <th>Çözüm Ortak Url</th>
                                    <th>Çözüm Ortak Durumu</th>
                                    <th>Çözüm Ortak Son Düzenleme</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PartnerID</td>
                                        <td>@item.PartnerTitle</td>
                                        <td>@item.PartnerUrl</td>
                                        <td>@Html.Raw(item.PartnerStatus == true ? "<span class='badge badge-success'>Yayında</span>" : "<span class='badge badge-danger'>Yayında Değil</span>")</td>
                                        <td>@(((DateTime)item.PartnerUpdateDate).ToString("dd.MM.yyyy"))</td>
                                        <td> <a href="~/AdminPanel/Partner/PartnerUpdate/@item.PartnerID" class="btn btn-w-m btn-primary">Düzenle</a> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>